.message-container {
    height:100%;
}

.message-container .message-header {
    background-color:#fff;
    height:10%;
    box-shadow: 0 2px 10px -5px rgba(33,33,33,0.25);
    border-top-right-radius: 10px;
}

.message-container .message-header .room-info {
    display: flex;
    height:100%;
    align-items: center;
    width:95%;
    margin: 0 auto;
    justify-content: space-between;
    color:#333;
}

.message-container .message-header .room-info .room-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    widtH:30%;
}

.message-container .message-header .room-info .room-options button {
    background: rgba(113, 178, 128, 0.65);   
    border-radius: 25px;
    width:40%;
    padding: 0.5em;
    box-sizing: border-box;
    border:none;  
    background: rgba(113, 178, 128, 0.65);
    color:#fff;
    font-size: 1em;
    font-weight: 600;     
}