.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.search-container .search-bar-container {
    width:100%;
    position: relative;
}

.search-container .search-bar-container input {
    width:85%;
    border-radius: 25px;
    border:1px solid rgba(33, 33, 33, 0.25); 
    padding:0.75em;
    box-sizing: border-box;    
}

.search-bar-container input:focus {
    outline: none;
    border:1px solid rgba(33, 33, 33, 0.15); 
}

.search-bar-container .search-results {
    position: absolute;
    top:70%;
    left:70%;
    width:50%;
    background-color:#fff;;
    height:auto;
    text-align: left;
    padding: 0.5em;
    box-shadow: 10px 10px 12px 6px rgba(33, 33, 33, 0.15);
    border-radius: 10px;
    border: 1px solid rgba(33,33,33,0.15);
}

.search-container .search-bar-container .results {
    padding: 0.5em;
    box-sizing: border-box;
}

.search-container .search-bar-container .results .results-header {
    padding: 0.25em 0;
    margin-bottom:0.25em;
}

.search-container .search-bar-container .results .result {
    margin: 0 auto;
    padding: 0.5em 0;
}

.search-container .search-bar-container.results .result {
    border-radius: 5px;
}
.search-container .search-bar-container .results .result:hover {
    cursor: pointer;
    background-color:#eee;
}
.search-container .search-bar-container .results .result p {
    font-size:1.2em;
    margin: 0 auto;
    padding: 0 0.25em;
}

.search-container .search-bar-container .results .no-room-result:hover, .search-container .search-bar-container .results .no-user-result:hover {
    cursor:default !important;
    background-color:#fff !important;
}

.search-container .search-bar-container .joined {
    background-color:rgba(113, 178, 128, 0.65);
    color:#fff;
}

.search-container .search-bar-container .joined:hover {
    background-color:rgba(113, 178, 128, 0.65) !important;    
    cursor:default !important;    
}

@media screen and (max-width: 540px) {
    .search-bar-container .search-results {
    left: 50%;
    transform: translateX(-50%);
    }    
}

/* 



.search-container .search-bar-container .result:hover{

}


.search-container .search-bar-container .result hr {
    width:95%;
    margin: 0.25em auto 0 auto;
} */