.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}


.search-bar-container input {
    width:85%;
    border-radius: 25px;
    border:1px solid rgba(33, 33, 33, 0.25); 
    padding:0.75em;
    box-sizing: border-box;    
}

.search-bar-container input:focus {
    outline: none;
    border:1px solid rgba(33, 33, 33, 0.15); 
}