

.side-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-menu-container .search-bar {
    flex: 1;
    border-bottom: 1px solid rgba(33, 33, 33, 0.15); 
}

.side-menu-container .current-chats {
    flex: 8;
}

.side-menu-container .current-chats .selected, .side-menu-container .current-chats .selected:hover {
    background: rgba(113, 178, 128, 0.25) !important;   
}

.side-menu-container .current-chats .room, .side-menu-container .current-chats .add-room {
    color:#565656;
    height:4.5em;
    font-size: 1.15em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(33, 33, 33, 0.15); 
}

.side-menu-container .current-chats .room:hover {
    background: rgba(255,255,255,0.75);
    cursor: pointer;
}

.side-menu-container .current-chats .room h3, .side-menu-container .current-chats .add-room h3 {
    line-height: 1em;
    width:85%;
    user-select: none;
}