
.register-container, .login-container {
    height:85vh;
    display: flex;
    align-items: center;
}

.register-container .form-container {
    width:22%;
    height:65%;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 10px 10px 16px rgba(24, 38, 40, 0.15);
    border: 1px solid rgba(24, 38, 40, 0.25);
    margin: 0 auto;
}

.login-container .form-container {
    width:22%;
    height:55%;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 10px 10px 16px rgba(24, 38, 40, 0.15);
    border: 1px solid rgba(24, 38, 40, 0.25);
    margin: 0 auto;   
}

.register-container .form-container form, .login-container .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0.15em 0.25em;
    height:100%;
}

.register-container .form-container form .form-header, .login-container .form-container form .form-header {
    width:100%;
    font-size: 1.4em;
    text-align: center;
    color:#134E5E;
}

.register-container .form-container form .form-body , .login-container .form-container form .form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    width:100%;
}

.register-container .form-container form .form-body input , .login-container .form-container form .form-body input {
    margin: 1em auto;
    width:80%;
    box-sizing: border-box;
    padding: 0.75em 0.05px;
    border: none;
    border-bottom: 1px solid rgba(24, 38, 40, 1);    
    background-color:transparent;
}

.register-container .form-container form .form-body input:focus, .login-container .form-container form .form-body input:focus {
    border:none;
    outline: none;
    border-bottom: 1px solid rgba(24, 38, 40, 1);        
}

.register-container .form-container form .form-footer, .login-container .form-container form .form-footer {
    width:80%;
    
}

.register-container .form-container form .form-footer .sign-in-options, .login-container .form-container form .form-footer .sign-in-options {
    width:100%;
    text-align: left;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-container .form-container form .form-footer input, .login-container .form-container form .form-footer input {
    background-color:#134E5E;
    color:#fff;
    width:50%;
    border:none;
    padding: 0.75em 0;
    border-radius: 5px;
    font-size: 0.95em;

}

.register-container .form-container form .form-footer span a, .login-container .form-container form .form-footer span a {
    font-size: 2em;
    color:#134E5E;
} 

.register-container .form-container form .form-footer .login-prompt p,  .login-container .form-container form .form-footer .register-prompt p {
    margin-top:2em !important;
    font-size: 1.12em;
}

.register-container .form-container form .form-footer .login-prompt p a,  .login-container .form-container form .form-footer .register-prompt p a {
    color:#134E5E;
    font-weight: 600;   
}

@media screen and (max-width: 1114px) {

    .register-container .form-container, .login-container .form-container {
        width: 50%;
    }        
}

@media screen and (max-width: 540px) {
    .register-container .form-container form .form-body input , .login-container .form-container form .form-body input {
        padding: 2em 2em 1em 0.25em;
    }

    .register-container .form-container {
        width: 90%;
        height:95%;
    }    

    .login-container .form-container {
        height:75%;        
        width: 90%;        
    }    
}